@import './../../styles/template.scss';

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   background-color: #F1F5EC;
   padding: 0 25px;
   @include tablets {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      width: 100%;
   }
   div {
      display: flex;
      align-items: center;
      cursor: pointer;
      .menu {
         margin-left: 15px;
         cursor: pointer;
         display: none;
         transition: .3s ease-in-out;
         @include tablets {
            display: block;
         }
         &.active {
            transform: rotate(90deg);
         }
      }
   }
}